@{
    var db = Database.Open("MyDB");
    string sqlArriveStation = "SELECT S.StationName, S.StationID FROM Stations AS S, TrainTime AS T WHERE T.StationIdSrc=@0 AND (T.StationIdDst = S.StationID)";
    int idSrc = Request["id"].AsInt();
    var ArriveStations = db.Query(sqlArriveStation, idSrc);
}
<select name="ArriveStation">
    @foreach(var station in ArriveStations)
    {
            @:<option value="@station.StationID">@station.StationName</option>
    }
</select>