<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="Unsupport.css" />
        <title>Unsupported browser</title>
    </head>
    <body>
        <h1>Your web browser - @Request["info"] - is not supported</h1>
        <p>Please use one of the following web browsers:
            <ul>
            <li>Internet Explorer 7 and above</li>
            <li>Firefox 10 and above</li>
            <li>Chrome 18 and above</li>
            </ul>
        </p>
    </body>
</html>