<h1 align="center">Contact information</h1>
<div align="center" class="contact">
    <li>Address: 1A Phan Xich Long street, Ward 2, Phu Nhuan District, Ho Chi Minh City</li>
    <li>Phone: 08 113114115</li>
    <li>Telephone: 0908000000</li>
    <li>Email: nghia.huynh@logigear.com</li>
</div>